body ,h1,h3{
    text-align: center;

}
a{
    margin-right: 50px;
    text-decoration: none;
    font-family:cursive;
}

label {
    font-family:Verdana;
}

h3{
    font-size: 20px;
    font-family: 'Trebuchet MS';
}
.wish{
    background-color: aqua;
}
#wish2{
    padding-top: 10px;
    border: 2px solid black;
    width:500px;
    margin: auto;
}
.photo img{
    width: 200px;
    height: 200px;
}

